<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="URL" value="http://www.ruralsourcing.com"/>
  <!--<add key="TestDataSheetPath" value="\\mobdatw01\users\rick.johnson\documents\visual studio 2013\Projects\OnlineStore\OnlineStore\TestDataAccess\TestData.xlsx" />-->
  <add key="LogDirectory" value="\\mobdatw01\users\rick.johnson\Documents\Projects\RSIWebSiteQA\Logs"/>
  <add key="ReportDirectory" value="\\mobdatw01\users\rick.johnson\Documents\Projects\RSIWebSiteQA\Reports"/>
  <add key="LogPrefix" value="RSIWebSiteTest"/>
</appSettings>